* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(31, 30, 30);
  color: antiquewhite;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(81, 80, 80);
  border-radius: 5px;
}
.notes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-inline: 1.5rem;
  padding-block: 1.7rem;
}
.note {
  background-color: rgb(23, 21, 21);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.title {
  display: flex;
  justify-content: space-between;
}
.pen {
  background-color: rgb(18, 67, 127);
  color: whitesmoke;
}
.pen:hover {
  background-color: whitesmoke;
  color: rgb(18, 67, 127);
  transition: all 0.3s ease-in-out;
}
.create-note-form {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  justify-content: center;
}
input {
  padding-inline: 1rem;
  padding-block: 0.4rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
}
button {
  border-radius: 0.5rem;
  border: none;
  color: whitesmoke;
  background-color: green;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}
button:hover {
  color: green;
  background-color: whitesmoke;
  transition: all 0.3s ease-in;
}
.del {
  display: flex;
  justify-content: end;
  padding-block: 1rem;
}
.delete {
  color: whitesmoke;
  background-color: rgb(128, 45, 0);
}
.delete:hover {
  color: rgb(128, 45, 0);
  background-color: whitesmoke;
  transition: all 0.3s ease-in-out;
}
