* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(31, 30, 30);
  color: antiquewhite;
}
.notes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-inline: 1.5rem;
  padding-block: 1.7rem;
}
.note {
  background-color: rgb(23, 21, 21);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
